<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.folclormexicano">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FolclorMexicano">
        <activity
            android:name=".baileSina6"
            android:exported="false" />
        <activity
            android:name=".baileSina5"
            android:exported="false" />
        <activity
            android:name=".baileSina4"
            android:exported="false" />
        <activity
            android:name=".baileSina3"
            android:exported="false" />
        <activity
            android:name=".baileSina2"
            android:exported="false" />
        <activity
            android:name=".baileSina1"
            android:exported="false" />
        <activity
            android:name=".baileQuere6"
            android:exported="false" />
        <activity
            android:name=".baileQuere5"
            android:exported="false" />
        <activity
            android:name=".baileQuere4"
            android:exported="false" />
        <activity
            android:name=".baileQuere3"
            android:exported="false" />
        <activity
            android:name=".baileQuere2"
            android:exported="false" />
        <activity
            android:name=".baileQuere1"
            android:exported="false" />
        <activity
            android:name=".baileJalis6"
            android:exported="false" />
        <activity
            android:name=".baileJalis5"
            android:exported="false" />
        <activity
            android:name=".baileJalis4"
            android:exported="false" />
        <activity
            android:name=".baileJalis3"
            android:exported="false" />
        <activity
            android:name=".baileJalis2"
            android:exported="false" />
        <activity
            android:name=".baileJalis1"
            android:exported="false" />
        <activity
            android:name=".baileCamp6"
            android:exported="false" />
        <activity
            android:name=".baileCamp5"
            android:exported="false" />
        <activity
            android:name=".baileCamp4"
            android:exported="false" />
        <activity
            android:name=".baileCamp3"
            android:exported="false" />
        <activity
            android:name=".baileCamp2"
            android:exported="false" />
        <activity
            android:name=".baileCamp1"
            android:exported="false" />
        <activity
            android:name=".baileYuc6"
            android:exported="false" />
        <activity
            android:name=".baileYuc5"
            android:exported="false" />
        <activity
            android:name=".baileYuc4"
            android:exported="false" />
        <activity
            android:name=".baileYuc3"
            android:exported="false" />
        <activity
            android:name=".baileYuc2"
            android:exported="false" />
        <activity
            android:name=".baileYuc1"
            android:exported="false" />
        <activity
            android:name=".baileQr6"
            android:exported="false" />
        <activity
            android:name=".baileQr5"
            android:exported="false" />
        <activity
            android:name=".baileQr4"
            android:exported="false" />
        <activity
            android:name=".baileQr3"
            android:exported="false" />
        <activity
            android:name=".baileQr2"
            android:exported="false" />
        <activity
            android:name=".baileQr1"
            android:exported="false" />
        <activity
            android:name=".Sinaloa"
            android:exported="false" />
        <activity
            android:name=".Queretaro"
            android:exported="false" />
        <activity
            android:name=".Jalisco"
            android:exported="false" />
        <activity
            android:name=".Campeche"
            android:exported="false" />
        <activity
            android:name=".Yucatan"
            android:exported="false" />
        <activity
            android:name=".QuintanaRoo"
            android:exported="false" />
        <activity
            android:name=".seleccionEstados"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>